#container {
    width: 100%;
}

#header {
    width: 100%;
    height: 100px;
    position: relative;
}

#img {
    width: 100%;
    height: 100%;
}

#header-font {
    height: 100%;
    margin-left: 20%;
    margin-top: -104px;
    position: absolute;
}

#logo {
    font-family: STXinwei;
    color: #dbdbdb;
    font-size: 40px;
    font-weight: bold;
    margin-top: 26.8px;
}

#exit {
    margin-top: -100px;
    margin-left: 90%;
    float: left;
    position: absolute;
    text-decoration: none;
    color: #dbdbdb;
    font-family: STXinwei;
    font-size: 20px
}

#navigation {
    width: 100%;
    height: 50px;
    background-color: #dbdbdb;
    line-height: 50px;
    text-align: center;
}

#mainfunction {
    text-decoration: none;
    font-family: KaiTi;
    font-size: 20px;
    color: #322f2f;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

#mainfunction:hover {
    text-decoration: none;
    font-family: KaiTi;
    font-size: 20px;
    color: #322f2f;
    font-weight: bold;
    background-color: #b6b2b2;
    height: 50px;
}
.operationintroduction {
    width: 100%;
    height: 60%;
}

#operationintroduction {
    width: 100%;
    height: 60%;
}

.operation {
    width: 100%;
    height: 60%;
}

#operation {
    width: 100%;
    height: 60%;
}

#showresult {
    width: 70%;
    margin-left: 30%;
    height: 500px;
}

#prograde {
    width: 40%;
    background-color: #EEEEEE;
    margin-left: 30%;
    text-align: center;
}

#progradetitle {
    font-family: "宋体";
    font-weight: bolder;
    font-size: large;
    color: #CC0000;
    margin-bottom: 5px;
    margin-top: 20px;
}

#information {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

#rightalign {
    text-align: right;
    font-size: 20px;
    font-family: KaiTi;
    font-weight: bold;
}

#leftalign {
    text-align: left;
}

#input {
    height: 26px;
    border-radius: 5px;
    border: 1px solid #357ebd;
    padding: 3px;
    outline: none;
    font-family:KaiTi;
    font-size:18px;
    font-weight:bold;
}

#submit {
    width: 15%;
    height: 22.2%;
    font-weight: 500;
    margin-top: 5%;
    margin-left: 42.5%;
    background-color: #428bca;
    border-radius: 5px;
    border: 1px solid #357ebd;
    color: white;
    font-size: large;
    outline: none;
}

#submit:hover {
    width: 15%;
    height: 22.2%;
    margin-top: 5%;
    margin-left: 42.5%;
    font-weight: 500;
    background-color: #357ebd;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #357ebd;
    color: white;
    font-size: large;
    outline: none;
}

#threefunction {
    margin-top:10%;
    height: 30%;
    width: 100%;
}

#leftpart {
    width: 30%;
    height: 300px;
    float: left;
}

.button {
    width: 20%;
    height: 44.4%;
    margin-left: 10%;
    font-weight: 500;
    background-color: #428bca;
    border-radius: 5px;
    border: 1px solid #357ebd;
    color: white;
    font-size: large;
    outline: none;
}

.button:hover {
    width: 20%;
    height: 44.4%;
    margin-left: 10%;
    font-weight: 500;
    background-color: #357ebd;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #357ebd;
    color: white;
    font-size: large;
    outline: none;
}
.button:focus {
    background-color: #03a9f4
}
.hide {
    display: none;
}

#form {
    height: 100%;
}
.introductiontext {
    text-indent: 2em;
    font-size: 20px;
    font-family: STKaiti;
    text-align:justify;
}