<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    {% autoescape false %}
    {{ msg }}
    {% endautoescape %}
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/StuManagement.css') }}" />
    <script src="{{ url_for('static', filename='js/StuManagement.js') }}"></script>
    <div id="header">
        <img id="img" src="{{ url_for('static', filename='img/header.png') }}" />
        <a id="exit" href="/logout">退出系统</a>
        <div id="header-font">
            <p id="logo">体育课成绩管理系统</p>
        </div>
    </div>
    <div id="navigation">
        <nav>
            <a id="mainfunction" href="#" style="background-color: #b6b2b2;">学生管理</a>
            <a id="mainfunction" href="/?action=tm">教师管理</a>
            <a id="mainfunction" href="/?action=cm">课程管理</a>
            <a id="mainfunction" href="/?action=um">账户管理</a>
        </nav>
    </div>
    <div id="leftpart">
        <div id="operation"class="operation hide">
            <form method="post">
                <table id="information" border="0" cellpadding="5" cellspacing="0">
                    <tr>
                        <td id="rightalign">学号：</td>
                        <td id="leftalign"><input type="text" id="input"name="sno"></td>
                    </tr>
                    <tr>
                        <td id="rightalign">姓名：</td>
                        <td id="leftalign"><input type="text" id="input"name="name"></td>
                    </tr>
                    <tr>
                        <td id="rightalign">性别：</td>
                        <td id="leftalign"><input type="text" id="input"name="gender"></td>
                    </tr>
                    <tr>
                        <td id="rightalign">当前学期：</td>
                        <td id="leftalign"><input type="text" id="input"name="term"></td>
                    </tr>
                    <tr>
                        <td id="rightalign">课程班号：</td>
                        <td id="leftalign"><input type="text" id="input"name="class"></td>
                    </tr>
                </table>
                <input type="hidden" id="mode" name="mode" value="">
                <input type="submit" value="确认" id="submit"/>
            </form>
            <!--单击确认后，学生基本信息应实时更新呈现在页面表单上-->
        </div>
        <div id="operationintroduction"class="operationintroduction">
            <p class="introductiontext">选择下方四种操作之一并点击将弹出信息输入框，点击确认完成操作将弹回此提示框。</p>
            <p class="introductiontext">“添加学生”中需填写所有信息，“删除学生”中仅需填写待删除学生的学号，“修改信息”中只能修改“当前学期”与“课程班号”，“查询学生”中可以填写任意项信息。</p>
        </div>
        <div id="fourfunction">
            <input class="button" type="button" id="add" value="添加学生"onclick="StuManagement(this.id)" />
            <input class="button" type="button" id="delete" value="删除学生"onclick="StuManagement(this.id)" />
            <input class="button" type="button" id="update" value="更新学生"onclick="StuManagement(this.id)" />
            <input class="button" type="button" id="search" value="查询学生"onclick="StuManagement(this.id)" />
        </div>
    </div>
    <div id="showresult">
        <table id="prograde" border="1" cellpadding="3" cellspacing="1">
            <caption id="progradetitle">学生基本信息</caption>
            <tr>
                <td>学号</td>
                <td>姓名</td>
                <td>性别</td>
                <td>当前学期</td>
                <td>课程班号</td>
            </tr>
            {% for row in data.get_list() %}
            <tr>
                <td>{{ row['sno'] }}</td>
                <td>{{ row['name'] }}</td>
                <td>{{ row['gender'] }}</td>
                <td>{{ row['term'] }}</td>
                <td>{{ row['class'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>