<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <link rel="stylesheet" type="text/css" href="CSS/TeaManagement.css" />
    <div id="header">
        <img id="img" src="IMG/header.png" />
        <a id="exit" href="#">退出系统</a>
        <div id="header-font">
            <p id="logo">体育课成绩管理系统</p>
        </div>
    </div>
    <div id="navigation">
        <nav>
            <a id="mainfunction" href="StuManagement.html">学生管理</a>
            <a id="mainfunction" href="#">教师管理</a>
            <a id="mainfunction" href="CouManagement.html">课程管理</a>
        </nav>
    </div>
</body>
</html>
