<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <link rel="stylesheet" type="text/css" href="CSS/UserManagement.css" />
    <script src="JS/Management.js"></script>
    <div id="header">
        <img id="img" src="IMG/header.png" />
        <a id="exit" href="#">退出系统</a>
        <div id="header-font">
            <p id="logo">体育课成绩管理系统</p>
        </div>
    </div>
    <div id="navigation">
        <nav>
            <a id="mainfunction" href="StuManagement.html">学生管理</a>
            <a id="mainfunction" href="TeaManagement.html">教师管理</a>
            <a id="mainfunction" href="CouManagement.html">课程管理</a>
            <a id="mainfunction" href="#">账户管理</a>
        </nav>
    </div>
    <div id="leftpart">
        <div id="operation" class="operation hide">
            <form method="post" id="form">
                <table id="information" border="0" cellpadding="5" cellspacing="10">
                    <tr>
                        <td id="rightalign" name="1-1">账号：</td>
                        <td id="leftalign"><input type="text" id="input" name="1-2"></td>
                    </tr>
                    <tr>
                        <td id="rightalign" name="2-1">新密码：</td>
                        <td id="leftalign"><input type="password" id="input" name="2-2"></td>
                    </tr>
                    <tr>
                        <td id="rightalign" name="3-1">确认密码：</td>
                        <td id="leftalign"><input type="password" id="input" name="3-2"></td>
                    </tr>
                </table>
                <input type="submit" value="确认" id="submit" onclick="aftersubmit()" />
                <!--单击确认后，学生基本信息应实时更新呈现在页面表单上-->
            </form>
        </div>
        <div id="operationintroduction" class="operationintroduction">
            操作说明
        </div>
        <div id="onefunction">
            <input type="button" id="button" value="修改密码" onclick="Management()" />
        </div>
    </div>
    <div id="showresult">
        <table id="prograde" border="1" cellpadding="3" cellspacing="1">
            <caption id="progradetitle">账户基本信息</caption>
            <tr>
                <td>账号</td>
                <td>密码</td>
                <td>用户类型</td>
            </tr>
            <!--下面for循环可以添加tr行和每个tr行里3个td-->
        </table>
    </div>
</body>
</html>
